@use "./../scss-partials/mixins";
@use "./../scss-partials/vars";

.error {
  margin-top: 7rem;
  font-size: 2rem;
  text-align: center;
}

.animal-details {
  width: 100%;
  height: 100%;
  position: relative;
  margin-top: 4rem;
  overflow: hidden;

  .back-to-home {
    position: absolute;
    left: 1rem;
    top: 0;
    @include mixins.center-row;
    gap: 0.8rem;
    color: black;
    transition: all 300ms ease-in-out;
    svg {
      width: 2rem;
      height: 2rem;
    }
    text-decoration: none;
    font-weight: 500;

    &:hover {
      gap: 1.3rem;
      transform: scale(1.1);
    }
  }
  .animal-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-top: 3rem;

    @include mixins.media(700px) {
      @include mixins.center-col;
      gap: 4rem;
      margin-top: 5rem;
    }

    // @include mixins.center-row;
    .animal-container__img-container {
      grid-column: span 4;
      padding: 0 3rem;
      img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
        object-position: center right;
        border-radius: 5px;
      }

      @include mixins.media(900px) {
        grid-column: span 5;
      }
    }

    .animal-container__animal-details {
      grid-column: span 8;
      @include mixins.center-col;
      align-items: flex-start;
      justify-content: flex-start;

      @include mixins.media(900px) {
        grid-column: span 7;
      }

      h1 {
        font-size: 3rem;
        text-align: center;
        @include mixins.media(700px) {
          width: 100%;
          margin-bottom: 2rem;
        }
      }
      div {
        display: grid;
        grid-template-columns: 8rem auto;
        padding: 0.5rem 0;

        @include mixins.media(700px) {
          @include mixins.center-col;
          gap: 0.4rem;
          width: 100%;

          h4 {
            font-size: 1.05rem;
          }

          .center-text {
            text-align: center;
          }

          .whitespace-bottom {
            margin-bottom: 2rem;
          }
        }

        p {
          width: 80%;
          @include mixins.media(700px) {
            width: 95%;
          }
        }

        .btn {
          font-size: 1rem;
          padding: 0.57rem 1rem;
          border-radius: 7px;
          transition: background-color 200ms ease;
          cursor: pointer;
          &:hover {
            background-color: vars.$color-button-hover;
          }
        }
      }
    }
  }
}
