@use "./../scss-partials/mixins";
@use "./../scss-partials/vars";

.error-page {
  width: 100%;
  height: 80vh;
  @include mixins.center-col;
  gap: 2rem;
  h1 {
    font-size: 2rem;
    text-align: center;
  }
  .error-page__link {
    background-color: vars.$color-button;
    padding: 0.7rem 1.3rem;
    text-decoration: none;
    border-radius: 7px;
    font-size: 1.2rem;
    color: black;
    transition: background-color 200ms ease-in-out;
    &:hover {
      background-color: vars.$color-button-hover;
    }
  }
}
